/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
   --primery-color:#a3e635;
}

body{
    font-family: Montserrat,
    sans-serif;
}
/* container */

.flued-container{
    padding-left:  1rem; ;
    padding-right: 1rem ;
}

.container{
    max-width :600px;
    margin: auto;
}


/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.primery-link{
    border-radius: 0.5rem;
   color:black;
   background-color: var(--primery-color);
   padding: 0.5rem 1rem;
}
.secondary-color{
   
    
    color:#a3e635;
    color: black;
    border-radius: 0.5rem;
    border: 2px solid var(--primery-color);
    
}